@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
/* font-family: 'Roboto Mono', monospace; */


:root {
    --bg: rgb(15, 15, 30);
    --text: rgb(220, 220, 220);
    --acc: rgb(79, 205, 185);
    --font: 'Roboto Mono', monospace;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
}

header {
    color: var(--acc);
    text-align: center;
}

.game-container {
    margin-top: 10%;
    text-align: center;

    .question-container {
        font-size: 64px;
        display: flex;
        color: var(--text);
        margin-bottom: 5%;
        
        .number {
            padding-left: 15px;
            padding-right: 15px;
        }

        #first {
            margin-left: auto;
        }

        #second {
            margin-right: auto;
        }
    }
}