@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
/* font-family: 'Roboto Mono', monospace; */

:root {
    --bg: rgb(15, 15, 30);
    --text: rgb(220, 220, 220);
    --acc: rgb(79, 205, 185);
    --font: 'Roboto Mono', monospace;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    color: var(--acc);
    text-align: center;
}

h1 {
    display: inline-block;
    cursor: pointer;
}

.difficulty-selection {
    color: var(--text);
    text-align: center;
    margin-top: 10%;

    .title {
        margin-bottom: 5%;
    }
}

.difficulty-cards {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.difficulty-cards button {
    cursor: pointer;
    background-color: transparent;
    font-family: var(--font);
    color: var(--text);
    width: 12vw;
    min-width: 180px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 2px solid var(--acc);
    border-radius: 9px;
}

.difficulty-cards button:hover {
    background-color: var(--acc);
    color: var(--bg);
    border: 1px solid rgb(101, 246, 223);
    border-radius: 12px;
    background: #4fcdb9;
    transition: .4s ease-in;
    box-shadow:  5px 5px 20px #43ae9d,
             -5px -5px 20px rgb(91, 236, 213);
}

footer {
    margin-top: auto;
    justify-content: flex-end;
}

.footer-image-container {
    margin-right: 15px;
    margin-bottom: 15px;
    float: right;
    width: 72px;
    height: 72px;
    background-color: var(--acc);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    align-items: center;
}

.footer-image-container:hover {
    cursor: pointer;
    background-color: var(--acc);
    color: var(--bg);
    border: 1px solid rgb(101, 246, 223);
    border-radius: 50%;
    background: var(--bg);
    transition: .4s ease-in;
    box-shadow:  5px 5px 20px #43ae9d,
             -5px -5px 20px rgb(91, 236, 213);
}

footer img {
    width: 48px;
}