@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');
/* font-family: 'Roboto Mono', monospace; */


:root {
    --bg: rgb(15, 15, 30);
    --text: rgb(220, 220, 220);
    --acc: rgb(79, 205, 185);
    --font: 'Roboto Mono', monospace;
}

body {
    background-color: var(--bg);
    font-family: var(--font);
}

header {
    color: var(--acc);
    text-align: center;
}


.difficulty-selection {
    color: var(--text);
    text-align: center;
    margin-top: 10%;

    .title {
        margin-bottom: 5%;
    }
}

.difficulty-cards {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    gap: 1em;
}

.difficulty-cards button {
    cursor: pointer;
    background-color: transparent;
    font-family: var(--font);
    color: var(--text);
    width: 12vw;
    min-width: 180px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border: 2px solid var(--acc);
    border-radius: 9px;
}

.difficulty-cards button:hover {
    background-color: var(--acc);
    color: var(--bg);
    border: 1px solid rgb(101, 246, 223);
    border-radius: 12px;
background: #4fcdb9;
box-shadow:  5px 5px 20px #43ae9d,
             -5px -5px 20px rgb(91, 236, 213);
             
    transition: .4s ease-in;
}